/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #e3ff30, #00ffc3, #3c72a0, #00bbff, #ff34f8);
    background-size: 800% 800%;
    animation: gradientAnimation 30s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}


/* Custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* All similar content styling codes */
section {
  padding: 100px 0;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.about,
.projects,
.Skills,
.contact,
footer {
  font-family: 'Poppins', sans-serif;
}

.about .about-content,
.projects .serv-content,
.Skills .Skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

/* Navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
  background: transparent;
}

.navbar.sticky {
  padding: 15px 0;
  background: crimson;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #000000;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: crimson;
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  color: #fff;
}

.navbar .menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar .menu li {
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: crimson;
}

.navbar.sticky .menu li a:hover {
  color: #fff;
}

/* Menu button styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* Scroll-up button styling */
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: crimson;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.scroll-up-btn:hover {
  filter: brightness(90%);
}

/* Home section styling */
.home {
  display: flex;
  height: 100vh;
  color: #000000;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
  width: 100%;
  display: flex;
}

.home .max-width .row {
  margin-right: 0;
}

.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.home .home-content a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}

.home .home-content a:hover {
  color: crimson;
  background: none;
}
/* Add your existing CSS styles here */

.home-content {
    display: flex;
    align-items: center; /* Vertically align the image and text */
}

.text-container {
    flex: 1; /* Take remaining space for the text content */
}

.text-container a {
    display: inline-block;
    margin-top: 20px;
}

.profile-image img {
    max-width: 650px; /* Adjust the image size as needed */
    border-radius: 15px; /* Add border-radius for a rounded corner effect if desired */
    margin-left: 30px; /* Add some spacing between the text and the image */
}


/* About section styling */
.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .right .text span {
  color: rgb(255, 255, 255);
}

.about .about-content .right p {
  text-align: justify;
}

.about .about-content .right a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}

.about .about-content .right a:hover {
  color: crimson;
  background: none;
}

/* Projects section styling */
.projects .serv-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects .serv-content .card {
  width: calc(33% - 20px);
  background: rgba(255, 255, 255, 0.8); /* Set a transparent background color */
  text-align: center;
  border-radius: 6px;
  padding: 50px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

.projects .serv-content .card:not(:nth-child(3n)) {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .projects .serv-content .card {
    width: calc(50% - 20px);
  }
}

.projects .serv-content .card:hover {
  background: crimson;
}

.projects .serv-content .card .box {
  transition: all 0.3s ease;
}

.projects .serv-content .card:hover .box {
  transform: scale(1.05);
}

.projects .serv-content .card i {
  font-size: 50px;
  color: crimson;
  transition: color 0.3s ease;
}

.projects .serv-content .card:hover i {
  color: #fff;
}

.projects .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
  color: #ff0000;
}

/* Certification section styling */
.certificates .serv-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.certificates .serv-content .card {
  width: calc(33% - 20px);
  background: rgba(255, 255, 255, 0.8); /* Set a transparent background color */
  text-align: center;
  border-radius: 6px;
  padding: 50px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

.certificates .serv-content .card:not(:nth-child(3n)) {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .certificates .serv-content .card {
    width: calc(50% - 20px);
  }
}

.certificates .serv-content .card:hover {
  background: crimson;
}

.certificates .serv-content .card .box {
  transition: all 0.3s ease;
}

.certificates .serv-content .card:hover .box {
  transform: scale(1.05);
}

.certificates .serv-content .card i {
  font-size: 50px;
  color: crimson;
  transition: color 0.3s ease;
}

.certificates .serv-content .card:hover i {
  color: #fff;
}

.certificates .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
  color: #ff0000;
}

/* Skills section styling */
.Skills .title::after {
  content: "";
}

.Skills .Skills-content .column {
  width: calc(50% - 30px);
}

.Skills .Skills-content .left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.Skills .Skills-content .left p {
  text-align: justify;
}

.Skills .Skills-content .left a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}

.Skills .Skills-content .left a:hover {
  color: crimson;
  background: none;
}

.Skills .Skills-content .right .bars {
  margin-bottom: 15px;
}

.Skills .Skills-content .right .info {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}

.Skills .Skills-content .right span {
  font-weight: 500;
  font-size: 18px;
}

.Skills .Skills-content .right .line {
  height: 5px;
  width: 100%;
  background: rgb(255, 255, 255);
  position: relative;
}

.Skills .Skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(23, 2, 252);
}

.Skills-content .right .python::before {
  width: 90%;
}

.Skills-content .right .java::before {
  width: 70%;
}

.Skills-content .right .js::before {
  width: 80%;
}

.Skills-content .right .react::before {
  width: 75%;
}

.Skills-content .right .django::before {
  width: 60%;
}

.Skills-content .right .html5::before {
  width: 90%;
}

.Skills-content .right .css3::before {
  width: 90%;
}
/*
.Skills-content .right .nodejs::before {
  width: 70%;
}

.Skills-content .right .expressjs::before {
  width: 65%;
} */

.Skills-content .right .sql::before {
  width: 70%;
}
/*
.Skills-content .right .mongodb::before {
  width: 75%;
} */

.Skills-content .right .php::before {
  width: 75%;
}

/* Contact section styling */
.contact .title::after {
  content: "";
  color: crimson;
}


.contact .contact-content .column {
  width: calc(50% - 30px);
}

.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact .contact-content .left p {
  margin-top: 20px;
  text-align: justify;
  color: #000000;
}

.contact .contact-content .left .icons {
  margin: 10px 0;
}

.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .row .info {
  margin-left: 30px;
}

.contact .contact-content .row i {
  font-size: 25px;
  color: crimson;
}

.contact .contact-content .info .head {
  font-weight: 500;
}

.contact .contact-content .info .sub-title {
  color: #000000;
}

.contact .right form .fields {
  display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact .right form .textarea {
  height: 80px;
  width: 100%;
}

.contact .right form .name {
  margin-right: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: #b3b3b3;
}

.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}

.contact .right form .button-area {
  display: flex;
  align-items: center;
}

.contact .right form .button-area button {
  color: #ffffff;
  display: block;
  width: 160px !important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}

.contact .right form .button-area button:hover {
  color: crimson;
  background: transparent;
}

/* Footer section styling */
footer {
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}

footer span a {
  color: crimson;
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}

/* Responsive media query start */
@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active:before {
    content: "\f00d";
  }

  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  .home .home-content .text-2 {
    font-size: 70px;
  }

  .home .home-content .text-3 {
    font-size: 35px;
  }

  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }

  .max-width {
    max-width: 930px;
  }

  .about .about-content .column {
    width: 100%;
  }

  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .about .about-content .right {
    flex: 100%;
  }

  .projects .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }

  .Skills .Skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }

  .home .home-content .text-2 {
    font-size: 60px;
  }

  .home .home-content .text-3 {
    font-size: 32px;
  }

  .home .home-content a {
    font-size: 20px;
  }

  .projects .serv-content .card {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }

  .home .home-content .text-3 {
    font-size: 27px;
  }

  .about .about-content .right .text,
  .Skills .Skills-content .left .text {
    font-size: 19px;
  }

  .contact .right form .fields {
    flex-direction: column;
  }

  .contact .right form .name,
  .contact .right form .email {
    margin: 0;
  }

  .right form .error-box {
    width: 150px;
  }

  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
}
