/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(11, 132, 145) 91.1%);
  animation: rainbowAnimation 30s linear infinite;
}

@keyframes rainbowAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.columnleft {
  box-shadow: #000000;
}


/* Custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* All similar content styling codes */
section {
  padding: 100px 0;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
  
}

.about,
.projects,
.Skills,
.contact,
footer {
  font-family: 'Poppins', sans-serif;
  
}

.about {
  background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(11, 132, 145) 91.1%);
}
.projects {
  background: linear-gradient(111.1deg, rgb(0, 40, 70) -4.8%, rgb(255, 115, 115) 82.7%, rgb(255, 175, 123) 97.2%);
}
.certificates {
  background: linear-gradient(109.6deg, rgb(14, 11, 56) 11.2%, rgb(239, 37, 37) 91.1%);
}



.about .about-content,
.projects .serv-content,
.Skills .Skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  
}

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
  
}
.certificates .title {
  background-image: linear-gradient(122.3deg, rgb(111, 71, 133) 14.6%, rgb(232, 129, 166) 29.6%, rgb(237, 237, 183) 42.1%, rgb(244, 166, 215) 56.7%, rgb(154, 219, 232) 68.7%, rgb(238, 226, 159) 84.8%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold; /* If you want to make the text bold */
  animation: glowing 2s infinite; /* Add a glow animation */
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 5px rgba(0, 255, 234, 0.945); /* Start with a subtle glow */
  }
  50% {
    text-shadow: 0 0 20px rgba(0, 255, 255, 0.8); /* Increase the glow intensity */
  }
  100% {
    text-shadow: 0 0 5px rgb(0, 247, 255); /* Fade the glow */
  }
}

.projects .title {
  background-image: linear-gradient(122.3deg, rgb(111, 71, 133) 14.6%, rgb(232, 129, 166) 29.6%, rgb(237, 237, 183) 42.1%, rgb(244, 166, 215) 56.7%, rgb(154, 219, 232) 68.7%, rgb(238, 226, 159) 84.8%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold; /* If you want to make the text bold */
  animation: glowing 2s infinite; /* Add a glow animation */
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 5px rgba(217, 255, 0, 0.945); /* Start with a subtle glow */
  }
  50% {
    text-shadow: 0 0 20px rgba(190, 224, 0, 0.929); /* Increase the glow intensity */
  }
  100% {
    text-shadow: 0 0 5px rgb(255, 247, 0); /* Fade the glow */
  }
}

.about .title {
  background-image: linear-gradient(122.3deg, rgb(111, 71, 133) 14.6%, rgb(232, 129, 166) 29.6%, rgb(237, 237, 183) 42.1%, rgb(244, 166, 215) 56.7%, rgb(154, 219, 232) 68.7%, rgb(238, 226, 159) 84.8%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold; /* If you want to make the text bold */
  animation: glowing 2s infinite; /* Add a glow animation */
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 5px rgba(47, 0, 255, 0.945); /* Start with a subtle glow */
  }
  50% {
    text-shadow: 0 0 20px rgba(0, 15, 224, 0.929); /* Increase the glow intensity */
  }
  100% {
    text-shadow: 0 0 5px rgb(0, 162, 255); /* Fade the glow */
  }
}

.Skills .title {
  background-image: linear-gradient(-225deg, #FF3CAC 0%, #562B7C 52%, #2B86C5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold; /* If you want to make the text bold */
  animation: glowing 2s infinite; /* Add a glow animation */
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 5px rgba(47, 0, 255, 0.945); /* Start with a subtle glow */
  }
  50% {
    text-shadow: 0 0 20px rgba(0, 15, 224, 0.929); /* Increase the glow intensity */
  }
  100% {
    text-shadow: 0 0 5px rgb(0, 162, 255); /* Fade the glow */
  }
}

.contact .title {
  background-image: linear-gradient(109.6deg, rgb(14, 11, 56) 11.2%, rgb(239, 37, 37) 91.1%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold; /* If you want to make the text bold */
  animation: glowing 2s infinite; /* Add a glow animation */
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 5px rgba(255, 0, 221, 0.945); /* Start with a subtle glow */
  }
  50% {
    text-shadow: 0 0 20px rgba(234, 0, 255, 0.929); /* Increase the glow intensity */
  }
  100% {
    text-shadow: 0 0 5px rgb(255, 0, 166); /* Fade the glow */
  }
}


/* Navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
  background: transparent;
}

.navbar.sticky {
  padding: 15px 0;
  background: linear-gradient(74.3deg, rgb(68, 17, 28) 17.4%, rgb(95, 24, 40) 34.7%, rgb(122, 31, 51) 51.8%, rgb(149, 38, 62) 67.4%, rgb(163, 41, 68) 89.6%);
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #ffffff;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: crimson;
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  color: #fff;
}

.navbar .menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar .menu li {
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: crimson;
}

.navbar.sticky .menu li a:hover {
  color: #fff;
}


/* Menu button styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* Scroll-up button styling */
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: crimson;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.scroll-up-btn:hover {
  filter: brightness(90%);
}

/* Home section styling */
.home {
  display: flex;
  height: 100vh;
  background: radial-gradient(780px at 37.8% 100.3%, rgb(19, 55, 115) 2.2%, rgb(32, 7, 80) 20.2%, rgb(27, 88, 111) 58.6%, rgb(115, 88, 44) 75%, rgb(99, 19, 90) 89.6%, rgb(12, 51, 76) 96.1%);
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
  width: 100%;
  display: flex;
}

.home .max-width .row {
  margin-right: 0;
}

.home .home-content .text-1 {
  font-size: 27px;
  background-image:    radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(255, 255, 255) 24.5%, rgb(237, 227, 227) 66%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold; 
  
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
  background-image:    radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(204, 255, 0) 24.5%, rgb(120, 255, 1) 66%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
  background-image:  radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%,  rgb(204, 255, 0) 24.5%, rgb(120, 255, 1) 66%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.home .home-content .text-3 span {
  background-image: linear-gradient(109.6deg, rgb(240, 228, 122) 11.2%, rgb(253, 145, 212) 54.5%, rgb(176, 222, 234) 99.6%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 500;
}

.home .home-content a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}

.home .home-content a:hover {
  color: crimson;
  background: none;
}
/* Add your existing CSS styles here */

.home-content {
    display: flex;
    align-items: center; /* Vertically align the image and text */
}

.text-container {
    flex: 1; /* Take remaining space for the text content */
}

.text-container a {
    display: inline-block;
    margin-top: 20px;
}

.profile-image img {
  margin-left: 8%;
  max-width: 100%;
  height: auto;
  width: 100%;
  display: flex;
  

  background: linear-gradient(135deg, rgba(255, 0, 128, 0.816), rgba(232, 248, 8, 0.86));
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(250, 250, 250, 0.18);
  box-shadow: 0 50px 42px 0 rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 0px 0px 200px 42px rgba(255, 0, 106, 1);
  -moz-box-shadow: 0px 0px 200px 42px rgba(255, 0, 106, 1);
  box-shadow: 0px 0px 200px 42px rgb(102, 0, 255);
}






.container {
  max-width: 1000px;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.untoldcoding:hover:nth-child(2) {
  box-shadow: 10px 10px 50px rgb(15, 55, 231);
}
.untoldcoding {
  position: relative;
  margin: 20px 0;
  width: 300px;
  height: 400px;
  background: #fff;
  transform-style: preserve-3d;
  transform: perspective(2000px);
  transition: 1s;
}

.untoldcoding:hover {
  z-index: 1111;
  transform: perspective(2000px) rotate(-10deg);
  -webkit-box-shadow:0px 0px 200px 73px rgba(255,46,46,0.9);
  -moz-box-shadow: 0px 0px 200px 73px rgba(255,46,46,0.9);
  box-shadow: 0px 0px 200px 73px rgba(255,46,46,0.9);
}

.untoldcoding .img-container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  box-sizing: border-box;
  transform-origin: left;
  z-index: 1;
  transition: 1s;
}

.untoldcoding .img-container img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.untoldcoding:hover .img-container {
  transform: rotateY(-135deg);
}

.untoldcoding .untoldcoding-details {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding: 20px;
  color: #000;
  background-color:hsla(0,100%,50%,1);
background-image:
radial-gradient(at 12% 0%, hsla(99,76%,65%,1) 0px, transparent 50%),
radial-gradient(at 100% 0%, hsla(260,76%,65%,1) 0px, transparent 50%),
radial-gradient(at 0% 50%, hsla(66,76%,65%,1) 0px, transparent 50%),
radial-gradient(at 92% 16%, hsla(51,76%,65%,1) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(93,76%,65%,1) 0px, transparent 50%),
radial-gradient(at 99% 98%, hsla(313,76%,65%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(54,76%,65%,1) 0px, transparent 50%);
}

.untoldcoding .untoldcoding-details h2 {
  margin: 0;
  padding: 0.5em 0;
  text-transform: uppercase;
  font-size: 1em;
  color: #00552d;
}

.untoldcoding .untoldcoding-details p {
  margin: 0;
  padding: 0;
  line-height: 25px;
  font-size: 1.1em;
}
.resume-button {
  display: inline-block;
  margin-top: 10px;
  margin-left: 25%;
  padding: 10px 20px;
  background: #51cbcf;
  color: #101010;
  border: 2px solid #ffffff;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s;
}

.resume-button:hover {
  background: transparent;
  color: #ed363a;
}

.button {
  display: inline-block;
  margin-top: 10px;
  margin-left: 5%;
  padding: 10px 20px;
  background: transparent;
  color: #101010;
  border: 2px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s;
}

.button:hover {
  background: lightblue;
  color: #ed363a;
}






/* About section styling 
.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .right .text span {
  color: rgb(246, 3, 3);
}

.about .about-content .right p {
  text-align: justify;
}

.about .about-content .right a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}

.about .about-content .right a:hover {
  color: crimson;
  background: none;
}
*/


/* Projects section styling */
.projects .serv-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.projects .serv-content .card {
  background-color:hsla(0,100%,50%,1);
background-image:
radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0px, transparent 50%),
radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 50%),
radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%);
  width: calc(33% - 20px);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  text-align: center;
  border-radius: 6px;
  padding: 50px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

.projects .serv-content .card:not(:nth-child(3n)) {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .projects .serv-content .card {
    width: calc(50% - 20px);
  }
}

.projects .serv-content .card:hover {
  background-color:hsla(0,100%,50%,1);
background-image:
radial-gradient(at 44% 19%, hsla(202,90%,51%,1) 0px, transparent 50%),
radial-gradient(at 100% 0%, hsla(3,90%,51%,1) 0px, transparent 50%),
radial-gradient(at 0% 50%, hsla(169,90%,51%,1) 0px, transparent 50%),
radial-gradient(at 92% 16%, hsla(154,90%,51%,1) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(196,90%,51%,1) 0px, transparent 50%),
radial-gradient(at 86% 82%, hsla(56,90%,51%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(157,90%,51%,1) 0px, transparent 50%);
}

.projects .serv-content .card .box {
  transition: all 0.3s ease;
}

.projects .serv-content .card:hover .box {
  transform: scale(1.05);
}

.projects .serv-content .card i {
  font-size: 50px;
  color: crimson;
  transition: color 0.3s ease;
}

.projects .serv-content .card:hover i {
  color: #fff;
}

.projects .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
  color: #ff0000;
}

/* Certification section styling */
.certificates .serv-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.certificates .serv-content .card {
  background-color:hsla(0,100%,50%,1);
background-image:
radial-gradient(at 40% 20%, hsla(25,100%,74%,1) 0px, transparent 50%),
radial-gradient(at 80% 0%, hsla(186,100%,56%,1) 0px, transparent 50%),
radial-gradient(at 0% 50%, hsla(352,100%,93%,1) 0px, transparent 50%),
radial-gradient(at 80% 50%, hsla(337,100%,76%,1) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(19,100%,77%,1) 0px, transparent 50%),
radial-gradient(at 80% 100%, hsla(239,100%,70%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(340,100%,76%,1) 0px, transparent 50%);
  width: calc(33% - 20px);
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  border-radius: 6px;
  padding: 50px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

.certificates .serv-content .card:not(:nth-child(3n)) {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .certificates .serv-content .card {
    width: calc(50% - 20px);
  }
}

.certificates .serv-content .card:hover {
  background-color:hsla(0,100%,50%,1);
background-image:
radial-gradient(at 44% 19%, hsla(202,90%,51%,1) 0px, transparent 50%),
radial-gradient(at 100% 0%, hsla(3,90%,51%,1) 0px, transparent 50%),
radial-gradient(at 0% 50%, hsla(169,90%,51%,1) 0px, transparent 50%),
radial-gradient(at 92% 16%, hsla(154,90%,51%,1) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(196,90%,51%,1) 0px, transparent 50%),
radial-gradient(at 86% 82%, hsla(56,90%,51%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(157,90%,51%,1) 0px, transparent 50%);
-webkit-box-shadow:0px 0px 300px 0px rgba(252,197,0,1);
-moz-box-shadow: 0px 0px 300px 0px rgba(252,197,0,1);
box-shadow: 0px 0px 300px 0px rgba(252,197,0,1);
}

.certificates .serv-content .card .box {
  transition: all 0.3s ease;
}

.certificates .serv-content .card:hover .box {
  transform: scale(1.05);
}

.certificates .serv-content .card i {
  font-size: 50px;
  color: crimson;
  transition: color 0.3s ease;
}

.certificates .serv-content .card:hover i {
  color: #fff;
}

.certificates .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
  color: #ff0101;
}

/* Skills section styling */
.Skills {
  background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
}

.Skills .title::after {
  content: "";
}

.Skills .Skills-content .column {
  width: calc(50% - 30px);
}

.Skills .Skills-content .left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.Skills .Skills-content .left p {
  text-align: justify;
}

.Skills .Skills-content .left a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}

.Skills .Skills-content .left a:hover {
  color: crimson;
  background: none;
}

.Skills .Skills-content .right .bars {
  margin-bottom: 15px;
}

.Skills .Skills-content .right .info {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}

.Skills .Skills-content .right span {
  font-weight: 500;
  font-size: 18px;
}

.Skills .Skills-content .right .line {
  height: 5px;
  width: 100%;
  background: rgb(255, 255, 255);
  position: relative;
}

.Skills .Skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(23, 2, 252);
}

.Skills-content .right .python::before {
  width: 90%;
}

.Skills-content .right .java::before {
  width: 70%;
}

.Skills-content .right .js::before {
  width: 80%;
}

.Skills-content .right .react::before {
  width: 75%;
}

.Skills-content .right .django::before {
  width: 60%;
}

.Skills-content .right .html5::before {
  width: 90%;
}

.Skills-content .right .css3::before {
  width: 90%;
}
/*
.Skills-content .right .nodejs::before {
  width: 70%;
}

.Skills-content .right .expressjs::before {
  width: 65%;
} */

.Skills-content .right .sql::before {
  width: 70%;
}
/*
.Skills-content .right .mongodb::before {
  width: 75%;
} */

.Skills-content .right .php::before {
  width: 75%;
}

/* Contact section styling */
.contact {
  background: linear-gradient(109.6deg, rgb(240, 228, 122) 11.2%, rgb(253, 145, 212) 54.5%, rgb(176, 222, 234) 99.6%);
}

.contact .title::after {
  content: "";
  color: crimson;
}


.contact .contact-content .column {
  width: calc(50% - 30px);
}

.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact .contact-content .left p {
  margin-top: 20px;
  text-align: justify;
  color: #000000;
}

.contact .contact-content .left .icons {
  margin: 10px 0;
}

.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .row .info {
  margin-left: 30px;
}

.contact .contact-content .row i {
  font-size: 25px;
  color: crimson;
}

.contact .contact-content .info .head {
  font-weight: 500;
}

.contact .contact-content .info .sub-title {
  color: #000000; /* Default color for all screen sizes */

  /* Media query for screens with a maximum width of 768px */
  @media (max-width: 768px) {
    color: #FF0000; /* Change color for screens with a width of 768px or less */
  }

  /* Media query for screens with a maximum width of 480px */
  @media (max-width: 480px) {
    color: #000000; /* Change color for screens with a width of 480px or less */
  }
}

.contact .right form .fields {
  display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact .right form .textarea {
  height: 80px;
  width: 100%;
}

.contact .right form .name {
  margin-right: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: #b3b3b3;
}

.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}

.contact .right form .button-area {
  display: flex;
  align-items: center;
}

.contact .right form .button-area button {
  color: #ffffff;
  display: block;
  width: 160px !important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}

.contact .right form .button-area button:hover {
  color: crimson;
  background: transparent;
}

/* Footer section styling */
footer {
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}

footer span a {
  color: crimson;
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}

/* Responsive media query start */
@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
    
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active:before {
    content: "\f00d";
  }

  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  .home .home-content .text-2 {
    font-size: 70px;
  }

  .home .home-content .text-3 {
    font-size: 35px;
  }

  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }

  .max-width {
    max-width: 930px;
  }

  .about .about-content .column {
    width: 100%;
  }

  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .about .about-content .right {
    flex: 100%;
  }

  .projects .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }

  .Skills .Skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }

  .home .home-content .text-2 {
    font-size: 60px;
  }

  .home .home-content .text-3 {
    font-size: 32px;
  }

  .home .home-content a {
    font-size: 20px;
  }

  .projects .serv-content .card {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }

  .home .home-content .text-3 {
    font-size: 27px;
  }

  .about .about-content .right .text,
  .Skills .Skills-content .left .text {
    font-size: 19px;
  }

  .contact .right form .fields {
    flex-direction: column;
  }

  .contact .right form .name,
  .contact .right form .email {
    margin: 0;
  }

  .right form .error-box {
    width: 150px;
  }

  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
}
